[
    {
        "atemName": "Venla 1",
        "templateFile": "lowerthirds.html",
        "texts": {
            "title": "Kappale 1",
            "subtitle": "Soittaja 1, soittaja 2"
        }
    }
]
