{
    "lowerThirdsList": [
        {
            "title": "Pen Pineapple Apple Pen",
            "subtitle": "Pikotaro"
        },
        {
            "title": "Artturi setä kiriolee xDD",
            "subtitle": "Urpolitikko1"
        },
        {
            "title": "Siel on ihminen sisällä",
            "subtitle": "Pupupuuro"
        }
    ]
}