.flex {
    /*display: flex;*/
    /*flex-direction: column;*/
    height: 100%;
    position: relative;
}

.parent {
    border: 10px solid orange;
    margin: 0 10px 10px;
    /*flex: 0 1;*/
    position: relative;
}

.title {

}

.subtitle {
    font-size: 50%;
}

.delete {
    position: absolute;
    right: 0;
    bottom: 0;
}