.parent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 600%;
    font-family: "Unica One", sans-serif;
    overflow: hidden;
}

.text {
    /*filter: saturate(0%) invert() brightness(0.5) ;*/
    color: gray;
    /* font-size: 80%; */
}

@keyframes _blink {
    0% {
        filter: brightness(0%);
    }

    25% {
        filter: brightness(100%);
    }
}

.blink {
    animation: _blink 1s steps(2, start) infinite;
}