.parent {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    flex-basis: 50%;
    width: 50%;
    left: 25%;
    position: absolute;
}

@media screen and (max-width: 600px) {
    .content {
        left: 0;
        width: 100%;
    }
}

.field {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}

.input {
    flex: 1 1 0;
    min-width: 0 !important;
}

.label {
    flex: 0 2 0;
    margin-right: 2vw;
    white-space: nowrap;
}

button {
    font-size: 75%;
}
